/* FONTS */
/* Apply the Ojuju font to body to affect all text */
body {
  font-family: 'Ojuju', sans-serif;
  font-weight: 400; /* Default weight, can adjust as needed */
}

/* Example of a specific class using Ojuju with a unique identifier and weight */
.ojuju-custom {
  font-family: 'Ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Adjust the weight as needed */
  font-style: normal;
}

/* Apply a specific style to all h1 elements, including HomePage */
h1 {
  font-family: 'Ojuju', sans-serif;
  font-weight: 500; 
}






/* navbar style */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f29d46;
  padding: 5px 10px;
  z-index: 200; /* Increased z-index to be above the sidebar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds subtle shadow for depth */
  transition: padding 0.5s ease; /* Smooth transition for padding changes (e.g., on scroll) */
}

.navbar ul {
  margin: 0;
  /* padding: 10px 20px; */
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin: 0 15px;
  transition: color 0.5s ease;
}

.navbar ul li a {
  color: #fff; /* Sets default link color */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s ease; /* Smooth transition for link color changes */
}

.navbar ul li a:hover, .navbar ul li a:focus {
  color: #000; /* Changes link color on hover/focus for better interactivity */
  text-decoration: none; /* Optional: Removes underline on hover/focus */
}

/* Optional: Change the navbar's padding on scroll for a dynamic effect */
/* You would need to add some JavaScript to toggle a class on the navbar based on scroll position */
.navbar.scrolled {
  padding: 2px 10px;
}





/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4F6367;
  position: static; 
  /* bottom: 0; */
  width: 100%;
}

.footer p {
  margin-left: 250px; /* Removes default margin */
  text-align: center; /* Ensures the text is centered */
  flex: 1; /* Allows the paragraph to take up the available space, aiding in centering */
}

.footer-img img {
  max-width: 40px; /* Adjusts the image size */
  height: auto; /* Maintains the aspect ratio of the image */
  float: right; /* Aligns the image to the right */
}




/* HOME PAGE */
.img-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Make the image container fill the viewport */
}

.page-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container without losing aspect ratio */
  filter: blur(6px); /* Apply a blur effect */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f29d46; /* Ensure the text stands out */
  font-size: 6em; /* Example size, adjust as needed */
  z-index: 1; /* Make sure the text is above the blurred image */
}

.content {
  padding: 100px;
  background-color: #32e7c8;
}

.content h1 {
  font-size: 50px;
}

.content p { /* Additional styling for content below the image Home */
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 3%;
}


/* p under h1: Coqui Compass */
.centered-text {
  position: absolute;
  top: 60%; /* Adjust this value as needed to position below the h1 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ensure the text aligns well */
  text-align: center; /* Center the text horizontally */
  color: white; /* Set font color to white */
  font-size: 1.4rem; /* Adjust the font size as needed */
}

.ojuju-custom {
  font-family: 'Ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Example weight, can adjust */
}


/* HOME PAGE CARDS */
.custom-card {
  min-height: 610px; /* Adjust based on your content to ensure uniform size */
  max-height: 610px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.custom-card-img-top {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border: 15px solid white;
  /* border-radius: 35px; */
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}



