body {
  font-family: 'Ojuju', sans-serif;
  font-weight: 400;
}

/* Example of a specific class using Ojuju with a unique identifier and weight */
.ojuju-custom {
  font-family: 'Ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Adjust the weight as needed */
  font-style: normal;
}

/* Apply a specific style to all h1 elements, including HomePage */
h1 {
  font-family: 'Ojuju', sans-serif;
  font-weight: 500; 
}



/* NAVBAR style */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background-color: #f29d46;
  padding: 5px 10px;
  z-index: 200; /* Increased z-index to be above the sidebar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds subtle shadow for depth */
  transition: padding 0.5s ease; /* Smooth transition for padding changes (e.g., on scroll) */
}

.navbar ul {
  margin: 0;
  /* padding: 10px 20px; */
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin: 0 15px;
  transition: color 0.5s ease;
}

.navbar ul li a {
  color: #fff; /* Sets default link color */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s ease; /* Smooth transition for link color changes */
}

.navbar ul li a:hover, .navbar ul li a:focus {
  color: #32e7c8; /* Changes link color on hover/focus for better interactivity */
  text-decoration: none; /* Optional: Removes underline on hover/focus */
}

/* Optional: Change the navbar's padding on scroll for a dynamic effect */
/* You would need to add some JavaScript to toggle a class on the navbar based on scroll position */
.navbar.scrolled {
  padding: 2px 10px;
}

/* boton de navbar */
.a1 {
  border-bottom: 1px solid;
  color: white;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
  
  &:hover {
    color: 	#32e7c8;
  }
}

.btn {
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

&:hover { text-decoration: none; }

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}




/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f29d46;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
}

.footer p {
  margin-left: 250px;
  text-align: center; 
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1; 
  color: white;
}

.footer img {
  max-width: 45px; 
  height: auto;
  float: right; 
}

.footer p {
  margin-left: 250px; 
  text-align: center; 
  flex: 1; 
  color: white;
}

/* esto hace que el footer se quede */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1; 
}


/* HOME PAGE */
.img-container {
  position: relative;
  width: 100%;
  height: 100vh; /* to fill the viewport */
}

.page-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(6px);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f29d46; 
  font-size: 6em; 
  z-index: 1; 
}

.content {
  padding: 100px;
  background-color: #32e7c8;
}

.content h1 {
  font-size: 50px;
}

/* for content below the image Home */
.content p { 
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 3%;
}

/* for p under h1: Coqui Compass */
.centered-text {
  position: absolute;
  top: 60%; /* to position below the h1 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  text-align: center; 
  color: white; 
  font-size: 1.4rem; 
}

.ojuju-custom {
  font-family: 'Ojuju', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Example weight, can adjust */
}


/* HOME PAGE CARDS */
.custom-card {
  min-height: 610px; /* Adjust based on your content to ensure uniform size */
  max-height: 610px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.custom-card-img-top {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border: 15px solid white;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


/* About Page */
.AboutPage {
  position: relative;
  overflow: hidden;
  width: 100vw; 
  z-index: 1; 
}

.background-blur {
  position: absolute; /* to stay behind the content */
  top: 0;
  left: 0;
  width: 100%; 
  min-height: 100vh;
  background-image: url(https://scubapro.johnsonoutdoors.com/sites/default/files/2022-09/puerto-rico-20210721.jpg); /* Your background image */
  background-size: cover;
  background-position: center;
  filter: blur(5px); 
  z-index: -1; 
}

.content-about {
  position: relative; 
  z-index: 1;
  font-family: sans-serif;
}

.text-center {
  z-index: 1;
}

.card.about-card {
  min-height: 70px; /* Adjust based on your content to ensure uniform size */
  width: 35vh;
  display: center;
  border-radius: 15px; /* Adjust as needed for roundness */
  overflow: hidden; /* Ensures the blur doesn't leak outside the border */
  background: rgba(255, 255, 255, 0.85); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Extra blurriness inside the card */
}

.main-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-custom {
  background-color: #a7e351; /* Example: bright yellow background as in your sample image */
}

.small-image-container {
  margin-top: 10px; /* Spacing above the small images */
}

.small-image {
  width: 30px;
  height: 30px; 
  margin: 0 5px; /* Spacing between small images */
}



/* Dashboard + PlanCard: Donde se ve la lista de los Pueblos  */
.plan-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem; /* Rounded corners */
}

.plan-card img {
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensures images cover the area */
}


/* PLANS DETAILS PAGE */
.custom-btn:hover {
  background-color: #f9c629 !important;  /* si no le pongo !important no lo acepta*/
}

.images-container {
  display: flex;
  justify-content: center; /* Center images horizontally */
  flex-wrap: wrap; /* Allow images to wrap to next line on small screens */
  gap: 10px; /* Space between images */
}

.uniform-img {
  width: 150px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  object-fit: cover; /* Cover the frame without distorting aspect ratio */
  flex: auto; /* Do not grow or shrink, use margin auto */
}


/* BTN de MyItineraries */
.itinerary-btn:hover{
  background-color: #a7e351 !important;
}


/* BACKGROUND de ItineraryDetails and MyItineraries */
.blurry-background {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://i.pinimg.com/originals/5e/7e/05/5e7e0561c4f70f1f9bf3dbe829a3673e.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px); 
  z-index: -1; 
}

/* MyItineraries */
.blurry-background2{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://e0.pxfuel.com/wallpapers/72/275/desktop-wallpaper-old-san-juan-thumbnail.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px); 
  z-index: -1; 
}


