#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* navbar style */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4F6367;
  padding: 10px;
  z-index: 200; /* Increased z-index to be above the sidebar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar ul {
  margin: 0;
  padding: 10px 20px;
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4F6367;
  position: static; 
  /* bottom: 0; */
  width: 100%;
}

.footer p {
  margin-left: 250px; /* Removes default margin */
  text-align: center; /* Ensures the text is centered */
  flex: 1; /* Allows the paragraph to take up the available space, aiding in centering */
}

.footer-img img {
  max-width: 40px; /* Adjusts the image size */
  height: auto; /* Maintains the aspect ratio of the image */
  float: right; /* Aligns the image to the right */
}
